<h1>Edit Your Photo</h1>

<form>
  <label for="photo_caption">Caption:</label>
  <input id="photo_caption" type="text">
<div>
  <label for="photo_source">Image URL:</label>
  <input id="photo_source" type="text">
</div>
  <button>Edit Photo</button>
</form>
